extends layout

block blog
  //
    Navbar
  //
    Navbar
  .area-content
    .container
      .row.bottom-margin(style='margin-bottom: 10px;')
        h1.text-center Start Up Central
      .row
        //
          Person
        //
 
        .fluid-container(style='padding-left: 15px; padding-right: 15px;')
          ul(style='list-style: none;')
            form(method="post")
              div
                div
                  span Title :
                  input(type="text", name="title", id="title")
                div
                  span Body :
                  textarea(name="content", rows=20, id="content")
                div#editArticleSubmit
                  input(type="submit", value="send")
             
                  
        //
          End Person
        .clearfix
        .clearfix
  //
    FOOTER
  //
    FOOTER