extends layout
block blog

  .area-content
    .container
      .row.bottom-margin(style='margin-bottom: 10px;')
        h1.text-center Calendar
      .row
        .fluid-container(style='padding-left: 15px; padding-right: 15px;')
          |Emebed Calendar Here... 
        .clearfix
        .clearfix
