extends layout

block scripts
  script.
    var field = "<input class='form-control', name='members', placeholder='Add Person'>";
    function appendField() {
      $("#members").append(field);
    }

block blog
  .area-content
    .container
      .row.bottom-margin(style='margin-bottom: 10px;')
        .row
          .col-md-4
            h3(style='float:left') People
          .col-md-8
            h3(style='float:left') Message
            a(href='/chat/new')
              button.btn.btn-primary.btn-sm(style='float:right')
                | New Message

        hr

        -var groups= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

        .row(style='height:600px')
          .col-md-4(style="height:100%; overflow-y:scroll")
            ul
              each group, i in groups
                div(style='height:100px; width:100%; margin:10px 0px; border:1px solid grey')
                  | name
          .col-md-8(style="height:100%")
            div(style='height:75%; width:100%')
              // Content
              div(style='height:100%; width:100%; border:1px solid grey')
                p hello
            div(style='height:25%; width:100%')
              p type
              form
                textarea.form-control(rows=4)

      .row
        .fluid-container(style='padding-left: 15px; padding-right: 15px;')
        .clearfix
        .clearfix
