.dropdown(style='padding-left:35px')
          button#dropdownMenu1.btn.btn-default.dropdown-toggle(style="float:left;",stlyetype='button', data-toggle='dropdown')
              | Filter By:
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Date Modified
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Most Votes
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') A-Z