extends layout

block blog
  //
    Navbar
  //
    Navbar
  .area-content
    .container
      .row.bottom-margin(style='margin-bottom: 10px;')
        h1.text-center Start Up Central
        .dropdown(style='padding-left:35px')
          button#dropdownMenu1.btn.btn-default.dropdown-toggle(style="float:left;",stlyetype='button', data-toggle='dropdown')
              | Filter By:
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Date Modified
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Most Votes
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') A-Z
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Separated link
      .row
        //
          Person
        //

 
        .fluid-container(style='padding-left: 15px; padding-right: 15px;padding-top: 15px;')
          ul(style='list-style: none;')
            div
              each post, i in posts
                div.row(style="padding-bottom: 15px")
                  div(style="float:left")
                    form(method="post", action="/blog/upvote")
                      button(style= "background: white" type='submit', name="id", value=post.title) 
                        img(src="/img/upvote.png")
                  div(style="float:left")
                    #{post.votes}
                  div(style="float:left;")
                    form(method="post", action="/blog/downvote")
                      button(style= "background: white" type='submit', name="id", value=post.title) 
                        img(src="/img/downvote.png")
                  div(style="float:left;padding-top:2px;padding-left:10px;")
                    a(href="/community/start_ups/"+post.title)= post.title

                  
                             


                  
                  
        //
          End Person
        .clearfix
        .clearfix
  //
    FOOTER
  //
    FOOTER